{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block body %}
<div class='container' style="text-align: center; color: #00b92e;">
    <p>
    <h1>Посмотри видео и повтори</h1>
    <h4>Пожалуйста, выбери номер видео:</h4>
    </p>

    <form action="/video" method="POST">
        <input type="submit" name="submit_button" class="btn btn-outline-success btn-lg" value="1">
        <input type="submit" name="submit_button" class="btn btn-outline-success btn-lg" value="2">
        <input type="submit" name="submit_button" class="btn btn-outline-success btn-lg" value="3">
        <input type="submit" name="submit_button" class="btn btn-outline-success btn-lg" value="4">
        <input type="submit" name="submit_button" class="btn btn-outline-success btn-lg" value="5">

    </form>


    {% if number%}
    <p>
    <video width="500" height="300" controls>
        <source src="{{ url_for('static', filename=curr_video)}}" type='video/mp4'>
    </video>

    <form action="/video" method="POST">
        <ul>
            <li>При выборе "распознать по голосу" подождите в течение 3 секунд и далее говорите. По окончании речи
                результат будет получен автоматически.</li>
            <li>При выборе "распознать по лицу" подождите в течение 3 секунд пока включится камера. По окончании речи
                нажмите "остановить видео" и вы увидите результат.</li>
        </ul>
        <input type="hidden" name="video" value="{{curr_video}}">
        <input type="hidden" name="text" value="{{curr_text}}">
        <input type="submit" name="submit_button" class="btn btn-success btn-lg" value="Распознать по голосу">
        <input type="submit" name="submit_button" class="btn btn-success btn-lg" value="Распознать по лицу">
    </form>
    </p>
    {% endif %}


    {% if audio%}
    <h2>Вот, что мне удалось услышать:</h2>
    <p><textarea style="width: 800px; height: 100px; font-size: 30px;" name="text_out">{{text_out}}</textarea></p>
    <h3> Молодец! Ты сказал правильно на {{score}} %!</h3>
    <h3>Теперь можешь выбрать другой номер видео и повторить упражнение.</h3>
    {% endif %}


    {% if video%}
    <img src="{{ url_for('video_feed') }}" />
    <p>
    <form action="/video" method="POST">
        <input type="hidden" name="video" value="{{curr_video}}">
        <input type="hidden" name="text" value="{{curr_text}}">
        <input type="submit" name="submit_button" class="btn btn-success btn-lg" value="Остановить видео">
    </form>
    </p>
    {% endif %}


    {% if stop_video%}
    <h3> Молодец! Отличная работа!</h3>
    <h3>Теперь можешь выбрать другой номер текста и повторить упражнение.</h3>
    {% endif %}


</div>
{% endblock %}